/* SideView - input */
input[type="search"].search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}
.search-input {
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    line-height: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    vertical-align: top;
    outline: none;
    line-height: 1;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 17px;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 31px;
    font-size: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #1f1f21;
    padding: 4px 0 0 28px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-image: url("data:image/svg+xml;utf8,<svg width='41px' height='40px' viewBox='0 0 41 40' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns'><title>Slice 1</title><description>Created with Sketch (http://www.bohemiancoding.com/sketch)</description><defs></defs><g id='Page 1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><g id='search' fill='#C6C8C8'><path d='M0.504,16.338 C0.504,25.085 7.635,32.165 16.444,32.165 C25.24,32.165 32.382,25.085 32.382,16.338 C32.382,7.591 25.24,0.5 16.444,0.5 C7.635,0.5 0.504,7.591 0.504,16.338 L0.504,16.338 Z M5.555,16.338 C5.555,10.359 10.423,5.521 16.445,5.521 C22.455,5.521 27.333,10.36 27.333,16.338 C27.333,22.317 22.455,27.156 16.445,27.156 C10.423,27.156 5.555,22.316 5.555,16.338 L5.555,16.338 Z M27.666,30.861 L34.521,38.67 C35.625,39.772 36.338,39.781 37.46,38.67 L39.661,36.489 C40.743,35.408 40.811,34.711 39.661,33.568 L31.765,26.793 L27.666,30.861 L27.666,30.861 Z M27.666,30.861' id='Shape'></path></g></g></svg>");
    background-position: 8px center;
    background-repeat: no-repeat;
    -webkit-background-size: 17px;
    background-size: 17px;
    font-weight: 400;
    display: block;
    width: 100%;
    position:relative;
    height:100%;
}
.search-input:focus {
    background-color: #fff;
    color: #1f1f21;
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-decoration {
    margin-right: 0px;
}
.search-input::-webkit-input-placeholder,
.search-input::-moz-placeholder,
.search-input::-ms-input-placeholder {
    color: #999;
}
.search-input:disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}

/*****************/

ons-page, section {
    padding: 20px 0 35px 0;
}

/* NAVs */

.navigation-bar {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(36,38,40,1) 87%, rgba(69,72,77,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(87%,rgba(36,38,40,1)), color-stop(100%,rgba(69,72,77,1)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(36,38,40,1) 87%,rgba(69,72,77,1) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(36,38,40,1) 87%,rgba(69,72,77,1) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(36,38,40,1) 87%,rgba(69,72,77,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(36,38,40,1) 87%,rgba(69,72,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 );

    -webkit-box-shadow:0 2px 30px -3px #000;
    -moz-box-shadow:0 2px 30px -3px #000;
    -ms-box-shadow:0 2px 30px -3px #000;
    box-shadow:0 2px 30px -3px #000;
}

.navigation-bar div:nth-child(2){
    background: rgb(0,0,0);
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(36,38,40,1) 87%, rgba(69,72,77,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(87%,rgba(36,38,40,1)), color-stop(100%,rgba(69,72,77,1)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(36,38,40,1) 87%,rgba(69,72,77,1) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(36,38,40,1) 87%,rgba(69,72,77,1) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(36,38,40,1) 87%,rgba(69,72,77,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(36,38,40,1) 87%,rgba(69,72,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 );

    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    border-bottom: inset #FFF 1px;
    border-left: inset #FFF 1px;
    border-right: inset #FFF 1px;

    margin:7px 0 0px 0;
}

/* bottom */
.bottom-bar {
    background: rgb(69,72,77);
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(36,38,40,1) 13%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(13%,rgba(36,38,40,1)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(36,38,40,1) 13%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(36,38,40,1) 13%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(36,38,40,1) 13%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(36,38,40,1) 13%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );


    -webkit-box-shadow:0 2px 12px 6px #000;
    -moz-box-shadow:0 2px 12px 6px #000;
    -ms-box-shadow:0 2px 12px 6px #000;
    box-shadow:0 2px 12px 6px #000;
}
.bottom-bar ons-col:nth-child(2){
    border-left: inset #FFF 1px;
    border-right: inset #FFF 1px;
}
.bottom-bar a, .navigation-bar a {
    position:relative;
    height:100%;
    color:#FFF;
    text-decoration: none;
    display:block;
    text-align: center;
    line-height:250%
}
/*****************/

div > header h4, div > header h5, div > header p {
    position:relative;
    display:block;
    text-align:center;
}


#side-menu a, #locationPlace a {
    display:block;
    text-decoration: none;
    color:#000;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    opacity:0.8;
}

#side-menu .list {
    padding:0px;
    margin:0px;
}


/*************/
#welcome, #settings, #place, #locationPlace, #info, #home {
    background: url('../img/mainbg.png') no-repeat center 60% fixed;
    -webkit-background-size: fit;
    -moz-background-size: fit;
    -o-background-size: fit;
    background-size: fit;
    margin-left: 0px;
    padding-left: 0px;
}
#welcome, #settings, #place, #locationPlace, #info, #home {
    height:100%;
}