<div id="place">

    <header>
        <h4> {{ data.place.name }}, {{ data.place.town }} </h4>
    </header>

    <ons-list modifier="inset" class="settings-list">

        <ons-list-header>Details</ons-list-header>

        <ons-list-item>
            <div class="location-details">
                <ul class="times">
                    <li>Mon <span class="pull-right notification">{{ data.days.mon }}</span></li>
                    <li>Tue <span class="pull-right notification">{{ data.days.tue }}</span></li>
                    <li>Wed <span class="pull-right notification">{{ data.days.web }}</span></li>
                    <li>Thur <span class="pull-right notification">{{ data.days.thu }}</span></li>
                    <li>Fri <span class="pull-right notification">{{ data.days.fri }}</span></li>
                    <li>Sat <span class="pull-right notification">{{ data.days.sat }}</span></li>
                    <li>Sun <span class="pull-right notification">{{ data.days.sun }}</span></li>
                </ul>
                <div id="map">
                    <img ng-src="http://maps.googleapis.com/maps/api/staticmap?center={{ data.place.lat }},{{ data.place.lng }}=17&size=600x300&markers=color:red%7C{{ data.place.lat }},{{ data.place.lng }}&maptype=hybrid&sensor=false" />
                </div>
                <hr />
                <a id="google-map-link" ng-click="openLink(data.place.lat, data.place.lng)"
                   class="btn" target="_new">View on google maps</a>
                <hr />
                <div id="description">
                    {{ data.place.description }}
                </div>
                <hr />

            </div>
        </ons-list-item>

    </ons-list>
</div>
