<div id="" class="span12 user-display">
    <header>
        <h3><span>Home <i></i></span></h3>
    </header>
    <section>
        <div class="ui-section">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="">Previous<span class="pull-right icon-chevron-left"></span></a> </li>
                <li><a href="">1st prev location<span class="pull-right icon-chevron-right"></span></a></li>
                <li><a href="">2nd prev location<span class="pull-right icon-chevron-right"></span></a></li>
                <li><a href="">3rd prev location<span class="pull-right icon-chevron-right"></span></a></li>
                <li><a href="">4th prev location<span class="pull-right icon-chevron-right"></span></a></li>
                <li><a href="">5th prev location<span class="pull-right icon-chevron-right"></span></a></li>
            </ul>
        </div>


        <div class="ui-section">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="">Nearest<span class="pull-right icon-chevron-left"></span></a> </li>
                <li><a href="">1 nearest to geo<span class="pull-right icon-chevron-right"></span></a></li>
                <li><a href="">2 nearest to geo<span class="pull-right icon-chevron-right"></span></a></li>
                <li><a href="">3 nearest to geo<span class="pull-right icon-chevron-right"></span></a></li>
                <li><a href="">4 nearest to geo<span class="pull-right icon-chevron-right"></span></a></li>
                <li><a href="">5 nearest to geo<span class="pull-right icon-chevron-right"></span></a></li>
            </ul>
        </div>


    </section>
</div>