<div id="info" class="span12 user-display">
    <header>
        <h3><span>Information</span></h3>
    </header>
    <section>
        <div class="ui-section">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="">App info<span class="pull-right icon-chevron-left"></span></a> </li>
                <li><a href="">Version : <span class="label label-info ">1</span><span class="pull-right icon-info-sign"></span></a></li>
                <li><a href="">Build date : <span class="pull-right icon-info-sign"></span></a></li>
                <li><a href="">Created by : <span class="pull-right icon-chevron-right"></span></a></li>
            </ul>
        </div>


        <div class="ui-section">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="">AA resources<span class="pull-right icon-chevron-left"></span></a> </li>
                <li><a href="">AA website<span class="pull-right icon-chevron-right"></span></a></li>
                <li><a href="">PIPs<span class="pull-right icon-chevron-right"></span></a></li>
                <li><a href="">Drinkline : <span class="label label-info ">0800 917 8282</span><span class="pull-right icon-chevron-right"></span></a></li>
                <li><a href="">Mind Info Line : <span class="label label-info ">0845 766 0163</span><span class="pull-right icon-chevron-right"></span></a></li>
            </ul>
        </div>


    </section>
</div>