<ons-page id="side-menu" ng-controller="menuCtrl">
    <ons-toolbar>
        <div class="center">
            <input type="search"
                   placeholder="Filtering coming soon"
                   class="search-input"
                   ng-model="menuFilter"
                    >
        </div>
    </ons-toolbar>
    <ons-list>

        <div ng-repeat="town in towns">
            <ons-list-item modifier="chevron" ng-click="menu.closeMenu()">
                <a href="#/location/{{town | lowercase}}" style="display:block"> {{town}} </a>
            </ons-list-item>
        </div>

    </ons-list>
</ons-page>