<html>

<head>
	<title> <%= title %> </title>
	<script src="<%= base() %>/socket.io/socket.io.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

