<div id="info" class="span12 user-display">
    <header>
        <h3><span>Information</span></h3>
    </header>
    <section>
        <div class="ui-section">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a >App info</a> </li>
                <li><a>Version : <span class="label label-info ">{{version}}</span><span class="pull-right icon-info-sign"></span></a></li>
                <li><a>Build date : <span class="label label-info ">{{build}}</span><span class="pull-right icon-info-sign"></span></a></li>
                <li><a>Created by : <span class="label label-info ">{{developer}}</span><span class="pull-right icon-info-sign"></span></a></li>
                <li><a href="{{website}}">Developer website : <span class="label label-info ">{{website}}</span><span class="pull-right icon-chevron-right"></span></a></li>
            </ul>
        </div>


        <div class="ui-section">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a >AA resources</a> </li>
                <li><a href="http://www.alcoholicsanonymous.ie">AA website: alcoholicsanonymous.ie<span class="pull-right icon-chevron-right"></span></a></li>
                <li><a href="http://www.communityni.org/">PIPs NI community<span class="pull-right icon-chevron-right"></span></a></li>
                <li><a >Drinkline : <span class="label label-info ">0800 917 8282</span><span class="pull-right icon-info-sign"></span></a></li>
                <li><a >Mind Info Line : <span class="label label-info ">0845 766 0163</span><span class="pull-right icon-info-sign"></span></a></li>
                <li><a >Lifeline : <span class="label label-info ">0808 808 8000</span><span class="pull-right icon-info-sign"></span></a></li>
            </ul>
        </div>


    </section>
</div>