<div id="locations" class="span12 user-display">
    <header>
        <h3><span>{{ loc | uppercase }}</span></h3>
    </header>
    <section>
        <div class="ui-section meeting">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href=""><span class="badge badge-Inverse">{{ count }}</span> Locations in {{ loc }} </a> </li>

                <li ng-repeat="place in locationPlaces"><a href="#/place/:{{ place.code }}">{{ place.name }}<span class="pull-right icon-chevron-right"></span></a></li>

            </ul>
        </div>
    </section>
</div>