<div id="place" class="span12 user-display">
    <header>
        <h3><span>{{ marker.name }}</span></h3>
    </header>
    <section>
        <div class="ui-section">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="">Details </a> </li>

                <li>
                    <ul id="days-times" class="nav unstyled">
                        <li ng-repeat="(key, value) in details.days">{{ key }} : <span class="label label-info pull-right">{{value}}</span></li>
                    </ul>
                </li>

                <li id="mapImage"><img ng-src="{{ details.map }}"></li>
                <p class="place-desc">{{ marker.desc }}</p>
                <a  href="https://maps.google.co.uk/maps?q={{ marker.location.lat }},{{ marker.location.long }}"
                class="btn btn-med btn-inverse">View on google maps</a>
                </li>
            </ul>
        </div>
    </section>
</div>