<div id="place" class="span12 user-display">
    <header>
        <h3><span>{{ marker.name }}</span></h3>
    </header>
    <section>
        <div class="ui-section meeting">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="">Details </a> </li>

                <li>
                    <ul id="days-times" class="nav unstyled">
                        <li>Monday : <span class="label label-info pull-right">{{details.days.mon}}</span></li>
                        <li>Tuesday : <span class="label label-info pull-right">{{details.days.tue}}</span></li>
                        <li>Wednesday : <span class="label label-info pull-right">{{details.days.wed}}</span></li>
                        <li>Thrusday : <span class="label label-info pull-right">{{details.days.thu}}</span></li>
                        <li>Friday : <span class="label label-info pull-right">{{details.days.fri}}</span></li>
                        <li>Saturday : <span class="label label-info pull-right">{{details.days.sat}}</span></li>
                        <li>Sunday : <span class="label label-info pull-right">{{details.days.sun}}</span></li>
                    </ul>
                </li>

                <li id="mapImage"><img ng-src="{{ details.map }}"></li>
                <p class="place-desc">{{ marker.desc }}</p>
                <a  href="https://maps.google.co.uk/maps?q={{ marker.location.lat }},{{ marker.location.long }}"
                    class="btn btn-med btn-inverse">View on google maps</a>
                </li>
            </ul>
        </div>
    </section>
</div>