<div id="settings" class="span12 user-display">
    <header>
        <h3><span>Settings</span></h3>
    </header>
    <section>
        <div class="ui-section">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="">Data<span class="pull-right icon-chevron-left"></span></a> </li>
                <li><a href="">Update AA meetings<span class="pull-right icon-refresh"></span></a></li>
                <li><a href="">Clear all & reset<span class="pull-right icon-refresh"></span></a></li>
                <li><a href="">Update home location<span class="pull-right icon-refresh"></span></a></li>
            </ul>
        </div>


        <div class="ui-section">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="">Settings<span class="pull-right icon-chevron-left"></span></a> </li>
                <li><a href="">Settings<span class="pull-right icon-remove-sign"></span></a></li>
                <li><a href="">Settings <span class="pull-right icon-remove-sign"></span></a></li>
                <li><a href="">Settings <span class="pull-right icon-remove-sign"></span></a></li>
                <li><a href="">Settings <span class="pull-right icon-remove-sign"></span></a></li>
                <li><a href="">Settings <span class="pull-right icon-remove-sign"></span></a></li>
            </ul>
        </div>


    </section>
</div>