<div id="welcome" class="span12 user-display">
    <header>
        <h3><span>Welcome to the AA finder app</span></h3>
        <p>This app has been created by website.co.uk to help those that want or need to give up alchohol.</p>
    </header>
    <section>

        <h5>Do you have a drinking problem?</h5>

        <div class="ui-section">

            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="">You may have a drinking problem if you...<span class="pull-right icon-chevron-left"></span></a> </li>
                <li>Feel guilty or ashamed about your drinking.</li>
                <li>Lie to others or hide your drinking habits.</li>
                <li>Have friends or family members who are worried about your drinking.</li>
                <li>Need to drink in order to relax or feel better.</li>
                <li>“Black out” or forget what you did while you were drinking.</li>
                <li>Regularly drink more than you intended to.</li>
              </ul>
        </div>


        <div class="ui-section">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="">The path to alcoholism<span class="pull-right icon-chevron-left"></span></a> </li>
                <p>
                    Not all alcohol abusers become full-blown alcoholics, but it is a big risk factor. Sometimes alcoholism develops suddenly in response to a stressful change, such as a breakup, retirement, or another loss. Other times, it gradually creeps up on you as your tolerance to alcohol increases. If you’re a binge drinker or you drink every day, the risks of developing alcoholism are greater.

                </p>
            </ul>
        </div>

        <div class="ui-section">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="">Steps you can take today<span class="pull-right icon-chevron-left"></span></a> </li>
                <li>Start off by letting a family member know that you intend on giving up.</li>
                <li>Get leverage on youself to following through with this decision. (benefits)</li>
                <li>Use the search feature above to locate an AA meet up in a town or city near you.</li>
            </ul>
        </div>


    </section>
</div>
