<div id="home">
    <header>
        <h4>Home</h4>
    </header>

    <section>
        <ons-list modifier="inset" class="settings-list">
            <ons-list-header>Previous</ons-list-header>
            <ons-list-item modifier="chevron">
                1st prev location
            </ons-list-item>
            <ons-list-item modifier="chevron">
                2st prev location
            </ons-list-item>
            <ons-list-item modifier="chevron">
                3st prev location
            </ons-list-item>
            <ons-list-item modifier="chevron">
                4st prev location
            </ons-list-item>
            <ons-list-item modifier="chevron">
                5st prev location
            </ons-list-item>
        </ons-list>

        <ons-list modifier="inset" class="settings-list">
            <ons-list-header>Nearest</ons-list-header>
            <ons-list-item modifier="chevron">
                1st Near location
            </ons-list-item>
            <ons-list-item modifier="chevron">
                2st Near location
            </ons-list-item>
            <ons-list-item modifier="chevron">
                3st Near location
            </ons-list-item>
            <ons-list-item modifier="chevron">
                4st Near location
            </ons-list-item>
            <ons-list-item modifier="chevron">
                5st Near location
            </ons-list-item>
        </ons-list>
    </section>

</div>