<div id="locationPlace">
    <header>
        <h4>Location Place</h4>
    </header>

    <section>
        <ons-list modifier="inset" class="settings-list">
            <ons-list-header><i class="fa fa-map-marker"></i> 12 Locations in {placename}</ons-list-header>

            <ons-list-item modifier="chevron">
                <a href="#/place/code">PlaceName</a>
            </ons-list-item>
            <ons-list-item modifier="chevron">
                <a href="#/place/code">PlaceName</a>
            </ons-list-item>
            <ons-list-item modifier="chevron">
                <a href="#/place/code">PlaceName</a>
            </ons-list-item>
            <ons-list-item modifier="chevron">
                <a href="#/place/code">PlaceName</a>
            </ons-list-item>

        </ons-list>



    </section>

</div>