<div id="locationPlace">
    <header>
        <h4>{{ data.placeName }}</h4>
    </header>

    <section>
        <ons-list modifier="inset" class="settings-list">
            <ons-list-header><i class="fa fa-map-marker"></i> {{ data.places.length }} Locations in {{ data.placeName }}</ons-list-header>

            <ons-list-item ng-repeat="place in data.places" modifier="chevron">
                <a ng-href="#/place/{{ place.code }}" ng-click="dataToPlace(place)"> {{ place.name }} </a>
            </ons-list-item>

        </ons-list>



    </section>

</div>