<div id="settings">
    <header>
        <h4>Settings</h4>
    </header>

    <section>
        <ons-list modifier="inset" class="settings-list">
            <ons-list-header>Data</ons-list-header>
            <ons-list-item>
                1st data
            </ons-list-item>
        </ons-list>

        <ons-list modifier="inset" class="settings-list">
            <ons-list-header>settings</ons-list-header>
            <ons-list-item>
                Twitter
                <ons-switch modifier="list-item"></ons-switch>
            </ons-list-item>
        </ons-list>

    </section>

</div>