<div id="welcome">

    <header>
        <h4>Welcome to the AA finder app</h4>
        <p>This app has been created by website.co.uk to help those that want or need to give up alchohol.</p>
        <h5>Do you have a drinking problem?</h5>
    </header>

    <section>
        <ons-list modifier="inset" class="settings-list">
            <ons-list-header><ons-icon icon="fa-info"></ons-icon> You may have a drinking problem if you..
            </ons-list-header>
            <ons-list-item>
                Feel guilty or ashamed about your drinking.
            </ons-list-item>
            <ons-list-item>Lie to others or hide your drinking habits.</ons-list-item>
            <ons-list-item>Have friends or family members who are worried about your drinking.
            </ons-list-item>
            <ons-list-item>Need to drink in order to relax or feel better.
            </ons-list-item>
            <ons-list-item>“Black out” or forget what you did while you were drinking.</ons-list-item>
            <ons-list-item>Regularly drink more than you intended to.
            </ons-list-item>

        </ons-list>

        <ons-list modifier="inset" class="settings-list">
            <ons-list-header><ons-icon icon="fa-info"></ons-icon> The path to alcoholism.
            </ons-list-header>
            <ons-list-item>
                Not all alcohol abusers become full-blown alcoholics, but it is a big risk factor. Sometimes alcoholism develops suddenly in response to a stressful change, such as a breakup, retirement, or another loss. Other times, it gradually creeps up on you as your tolerance to alcohol increases. If you’re a binge drinker or you drink every day, the risks of developing alcoholism are greater.
             </ons-list-item>

        </ons-list>

        <ons-list modifier="inset" class="settings-list">
            <ons-list-header><ons-icon icon="fa-info"></ons-icon> Steps you can take today.
            </ons-list-header>
            <ons-list-item>
                Start off by letting a family member know that you intend on giving up.
             </ons-list-item>
            <ons-list-item>
                Get leverage on youself to following through with this decision. (benefits)
            </ons-list-item>
            <ons-list-item>
                Use the search feature above to locate an AA meet up in a town or city near you.
            </ons-list-item>
        </ons-list>
    </section>

</div>